# Dependencies
node_modules
npm-debug.log

# Nuxt build output
.nuxt
.output
dist

# Environment variables
.env
.env.*

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 